:root {
    --pc: #333333;
    --arc: #424242;
    --vc: #2e0044;
    --rc: #e53935;
    --sc2: #8E3ACC;
    --wc: #ffffff;
    --gc: #cccccc;
    --f0c: #F0F0F0;
    --overlay: #2f00442c;
    --gb: linear-gradient(102.92deg, #1B1285 -36.3%, #643088 100%);

}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--pc);
}

h1,
h2{
    font-weight: 700;
    font-size: 32px;
}
h3{
    font-weight: 700;
    font-size: 22px;
    color: var(--pc);
}
h4{
    font-weight: 600;
    font-size: 20px;
}
h5{
    font-weight: 600;
    font-size: 18px;
}
h6 {
    font-weight: 500;
    font-size: 16px;
}
p {
    font-size: 15px;
    line-height: 24px;
}
.small-text{
    font-weight: 300;
    font-size: 12px;
    color: var(--pc);
    line-height: 18px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--pc);
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
}

.custom-btn a{
    font-weight: 500;
    font-size: 13px;
    border-radius: 3px;
    background: var(--rc);
    color: var(--wc);
    padding: 8px 16px;
    transition: .5s ease;
}

.custom-btn a:hover {
    background: var(--vc);
}
.custom-btn.white-custom{
    background: var(--wc);
    border: 1px solid var(--sc);
    color: var(--sc);
}
.section-title h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 700px;
    text-transform: capitalize;
}

.section-title h6 {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
}

.section-title span {
    font-size: 24px;
    font-weight: 500;
    color: var(--pc);
}

.about-title h4 {
    font-size: 45px;
    color: var(--sc);
    line-height: 36px;
    font-weight: 600;
}

.about-title span {
    font-size: 24px;
    color: var(--sc);
    display: inline-block;
    padding-bottom: 10px;
}

.scrolled {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: .4s;
    box-shadow: 3px 3px 10px 0px #33333396;
}
