@import "default.css";

/*HEADER TOP*/
.header-top{
    background: var(--vc);
}
.header-top .account button{
    background: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: var(--wc);
}
.header-top .social-media{
    font-weight: 400;
    font-size: 14px;
    color: var(--wc);
}
.header-top .social-media a{
    font-size: 16px;
    color: var(--wc);
    transition: .5s ease;
}
.header-top .social-media a:hover{
    color: var(--rc);
}
/* HEADER */
header {
    height: 75px;
    background: var(--wc);
    transition: .4s;
}

.logo img {
    max-width: 235px;
}

.logo i {
    font-size: 22px;
    padding: 8px;
    padding-right: 0;
    transition: .2s;
}

.logo i:hover {
    color: var(--sc);
    cursor: pointer;
}

.menubar ul {
    text-align: right;
}
.menubar sup{
    background-color: var(--rc);
    padding: 4px;
    border-radius: 50px;
    color: var(--wc);
    margin-left: -7px;
    font-size: 11px;
}
.menubar ul li {
    display: inline-block;
}
.menubar ul li a {
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    height: 35px;
    padding: 7px 15px;
    color: var(--pc);
    transition: .5s ease;
}
.menubar ul li a:hover{
    color: var(--rc);
}
.menubar .login-menu {
    background: var(--rc);
    color: var(--wc);
    padding: 7px 18px;
    border-radius: 50px;
    text-transform: none;
    transition: .5s ease;
}
.menubar .login-menu:hover{
    background-color: var(--vc);
    color: var(--wc);
}
/*HEADER*/
/*MOBILE MENU*/

/*ACCORDION CUSTOM*/
.mobile-logo img {
    width: 150px;
    padding: 10px 0;
    margin-left: 10px;
}

.mobile-logo i {
    font-size: 20px;
    float: right;
    margin: 5px 20px;
    color: var(--pc);
    cursor: pointer;
    padding: 5px;
}

.mobile-logo i:hover {
    color: var(--sc);
}

.custom.accordion-button {
    text-transform: capitalize;
    font-size: 15px;
    -webkit-transition: .4s;
    transition: .4s;
    color: var(--pc);
    font-weight: 400;
}

.custom.accordion-button:hover {
    color: var(--sc);
}

.custom.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;

}

.custom.accordion-button:not(.collapsed) {
    color: var(--sc);
    background: var(--rc);
    -webkit-transform: none;
    transform: none;
    font-weight: 400;
}

.custom.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f068";
    font-family: 'FontAwesome';
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.none.accordion-button:not(.collapsed)::after {
    content: none;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}


.custom.accordion-button::after {
    background-image: none;
    content: "\f067";
    font-family: 'FontAwesome';
}

.none.accordion-button::after {
    content: none;
}

.custom.accordion-body {
    padding: 0 0px;
}

.custom.accordion-body ul {
    padding: 0;
    margin: 0;
}

.custom.accordion-body ul li {
    list-style: none;
    padding: 8px 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom.accordion-body ul li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--pc);
    font-weight: 400;
    display: inline-block;
    margin-left: 40px;
}

.custom.accordion-body ul li a i {
    font-size: 10px;
    margin-right: 5px;
}

.custom.accordion-body ul li:hover {
    color: var(--wc);
    background: var(--rc);
}

.custom.accordion-body ul li:hover a {
    color: var(--sc);
}

.custom.accordion-item a {
    text-decoration: none;

}


.accordion-button.custom i {
    padding: 0 10px;
}

/*ACCORDION CUSTOM END*/

.mobile-menu {
    width: 350px;
    position: fixed;
    left: -380px;
    top: 0;
    z-index: 2;
    background: var(--wc);
    height: 100%;
    overflow: auto;
    transition: .4s;
    padding: 10px 0;
}
#mobileOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(101, 41, 145, 0.71);
    z-index: 1;
    cursor: pointer;
}
.mobileAdd {
    left: 0 !important;
}
.mobile-overlay {
    position: inherit !important;
}
/*MOBILE MENU END*/

/* BANNER PART CSS START  */
.banner-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-overlay {
    background-color: var(--overlay);
    padding: 200px 0px;
}
.banner-part{
    position: relative;
}
.banner-content .content {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.section-title h2,p{
    color: var(--wc);
}

/* search bar */
.nav-pills .nav-link {
    background: var(--vc);
    color: var(--wc);
    margin: 0px 2px;
    font-weight: 500;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--rc);
}
.search-bar .search-content {
    background: var(--wc);
    border-radius: 10px;
    padding: 15px 10px;
    margin-top: -12px;
}
.search-content button{
    background: var(--wc);
}
.search-item h6 {
    color: var(--arc);
    font-size: 16px;
    line-height: 24px;
}
.search-item span {
    font-weight: 500;
    font-size: 10px;
    color: var(--rc);
}
.search-content .src-btn button {
    background: var(--rc);
    font-weight: 400;
    font-size: 16px;
    color: var(--wc);
    padding: 8px 10px;
    border-radius: 10px;
    transition: .5s ease;
}
.search-content .src-btn button:hover{
    background-color: var(--vc);
}
/* BANNER PART CSS END  */

/* 50% IMAGE PART CSS START  */
.fifty-percentoff .image-item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fifty-percentoff .image-item-overlay {
    background-color: var(--overlay);
    transition: .4s ease-in-out;
    border-radius: 10px;
}
.fifty-percentoff .image-item:hover .image-item-overlay{
    background-color: #2f004472;
}
.fifty-percentoff .content{
    padding: 0px 20px;
}
.fifty-percentoff .content h5{
    color: var(--wc);
    transition: .4s ease;
}
.fifty-percentoff .content h3{
    color: var(--wc);
}
.fifty-percentoff .small-text{
    color: var(--wc);
}
/* 50% IMAGE PART CSS END  */

/* TOP DESTINATION PART CSS START  */
.top-destination-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: .5s ease-in-out;
}
.top-destination-image-overlay {
    background-color: var(--overlay);
    transition: .5s ease-in-out;
    padding: 20px 10px;
}
.top-destination-image:hover .top-destination-image-overlay{
    background-color: #2f004472;
}

.top-destination-image h4 {
    color: var(--wc);
    font-weight: 500;
    font-size: 24px;
}
.top-destination-image span{
    font-weight: 500;
    font-size: 12px;
    background: var(--rc);
    padding: 5px 10px;
    color: var(--wc);
    border-radius: 5px;
}
.top-destination-image ul li{
    font-weight: 300;
    font-size: 12px;
    color: var(--wc);
}
.top-destination-image ul li:last-child{
    border-right: none;
}

.view-btn a{
    font-weight: 400;
    font-size: 12px;
    color: var(--wc);
    background: var(--vc);
    padding: 10px 15px;
    border-radius: 20px;
}
/* TOP DESTINATION PART CSS END  */

/* CTEATE YOUR OWN BANNER PART CSS START  */
.own-banner{
    background-image: url(../img/photos/create-your-own-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.own-banner-overlay{
    background-color: var(--overlay);
    padding: 90px 0px;
}
.own-banner h3{
    font-size: 32px;
    color: var(--wc);
}
.own-banner p{
    max-width: 550px;
}
.own-banner .custom-btn a {
    padding: 12px 25px;
    border-radius: 20px;
}
/* CTEATE YOUR OWN BANNER PART CSS END  */

/* SPECIAL PACKAGE PART CSS START  */
.special-package .card{
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.special-package .card a{
    color: var(--arc);
    transition: .5s ease;
}
.special-package .card a:hover{
    color: var(--vc);
}
.special-package .card i{
    font-size: 22px;
    cursor: pointer;
}
.special-package .card p{
    color: #9E9E9E;
    font-size: 15px;
}
.special-package .card h6 {
    color: var(--arc);
    line-height: 10px;
}
hr.special-package{
    color: var(--arc);
    height: 1px;
}
.special-package .book-now a {
    font-weight: 600;
    font-size: 15px;
    color: var(--rc);
    transition: .4s ease;
}
.special-package .book-now i{
    font-size: 16px;
    margin-left: 8px;
    color: var(--rc);
    margin-top: 3px;
    transition: .4s ease;
}
.special-package .book-now:hover a{
    color: var(--vc);
}
.special-package .book-now:hover i{
    color: var(--vc);
}

/* SPECIAL PACKAGE PART CSS END  */

/* NEAR YOUR LOCATION PART CSS START  */
.near-your-location .near-place{
    width: 100%;
}
.near-your-location .near-place img{
    max-height: 450px;
}
.near-your-location .place-location{
    width: 100%;
}
.near-your-location .place-location img{
    max-height: 450px;
}
/* NEAR YOUR LOCATION PART CSS END  */

/* GALLERY IMAGE PART CSS START  */
.image-gallery .gallery{
    width: 100%;
    cursor: pointer;
}
.image-gallery .gallery img{
    width: 100%;
    border-radius: 5px;
}
/* GALLERY IMAGE PART CSS END  */

/* SUBSCRIBE PART CSS START  */
.subscribe-part .text{
    background: #f5f5f5;
    border: 1px solid var(--gc);
    padding: 20px 20px;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.subscribe-part h4{
    color: var(--arc);
}
.subscribe-part .text .custom-control{
    height: 40px;
    font-size: 16px;
    border: var(--arc);
    outline: none;
    width: 80%;
    border: 1px solid var(--gc);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
}
.subscribe-part .text button{
    height: 40px;
    background: var(--rc);
    color: var(--wc);
    font-size: 14px;
    transition: .5s ease;
    outline: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.subscribe-part .text button:hover{
    background: var(--vc);
}
/* SUBSCRIBE PART CSS END  */

/*FOOTER SECTION*/
footer {
    background: var(--f0c);
    color: var(--arc);
}

.footer-box img {
    max-width: 164px;
    margin-bottom: 20px;

}

.footer-box p {
    color: var(--sc);
}
.footer-box h6 {
    font-weight: 500;
    border-bottom: 1px solid var(--gc);
    font-size: 15px;
}

.footer-box h6 {
    padding-bottom: 13px;
}
.footer-menu a {
    display: block;
    color: var(--arc);
    padding: 6px 0;
    font-size: 13px;
    font-weight: 400;
}
.footer-box ul li {
    padding: 6px 0;
}
.social-media-footer h4 {
    border-bottom: 1px solid var(--gc);
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
}
.social-media-footer a i {
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: var(--wc);
    background: var(--vc);
    border: 1px solid var(--sc);
    text-align: center;
    border-radius: 50%;
    margin-right: 8px;
    transition: .3s;
}
.social-media-footer a i:hover {
    color: var(--wc);
    background: var(--vc);
}
.copyright{
    background: #e4e4e4;
}
.copyright p{
    color: var(--arc);
}
/*COPYRIGHT SECTION END*/
