@import "default.css";

/*HEADER TOP*/
.header-top{
    background: var(--vc);
}
.header-top .account button{
    background: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: var(--wc);
}
.header-top .social-media{
    font-weight: 400;
    font-size: 14px;
    color: var(--wc);
}
.header-top .social-media a{
    font-size: 16px;
    color: var(--wc);
    transition: .5s ease;
}
.header-top .social-media a:hover{
    color: var(--rc);
}
/* HEADER */
header {
    height: 75px;
    background: var(--wc);
    transition: .4s;
}

.logo img {
    max-width: 235px;
}

.logo i {
    font-size: 22px;
    padding: 8px;
    padding-right: 0;
    transition: .2s;
}

.logo i:hover {
    color: var(--sc);
    cursor: pointer;
}

.menubar ul {
    text-align: right;
}
.menubar sup{
    background-color: var(--rc);
    padding: 5px;
    border-radius: 50px;
    color: var(--wc);
    margin-left: -4px;
    font-size: 12px;
}
.menubar ul li {
    display: inline-block;
}
.menubar ul li a {
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    height: 35px;
    padding: 7px 15px;
    color: var(--pc);
    transition: .5s ease;
}
.menubar ul li a:hover{
    color: var(--rc);
}
.menubar .login-menu {
    background: var(--rc);
    color: var(--wc);
    padding: 7px 18px;
    border-radius: 50px;
    text-transform: none;
    transition: .5s ease;
}
.menubar .login-menu:hover{
    background-color: var(--vc);
    color: var(--wc);
}
/*HEADER*/
/*MOBILE MENU*/

/*ACCORDION CUSTOM*/
.mobile-logo img {
    width: 150px;
    padding: 10px 0;
    margin-left: 10px;
}

.mobile-logo i {
    font-size: 20px;
    float: right;
    margin: 5px 20px;
    color: var(--pc);
    cursor: pointer;
    padding: 5px;
}

.mobile-logo i:hover {
    color: var(--sc);
}

.custom.accordion-button {
    text-transform: capitalize;
    font-size: 15px;
    -webkit-transition: .4s;
    transition: .4s;
    color: var(--pc);
    font-weight: 400;
}

.custom.accordion-button:hover {
    color: var(--sc);
}

.custom.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;

}

.custom.accordion-button:not(.collapsed) {
    color: var(--sc);
    background: var(--rc);
    -webkit-transform: none;
    transform: none;
    font-weight: 400;
}

.custom.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f068";
    font-family: 'FontAwesome';
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.none.accordion-button:not(.collapsed)::after {
    content: none;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}


.custom.accordion-button::after {
    background-image: none;
    content: "\f067";
    font-family: 'FontAwesome';
}

.none.accordion-button::after {
    content: none;
}

.custom.accordion-body {
    padding: 0 0px;
}

.custom.accordion-body ul {
    padding: 0;
    margin: 0;
}

.custom.accordion-body ul li {
    list-style: none;
    padding: 8px 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom.accordion-body ul li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--pc);
    font-weight: 400;
    display: inline-block;
    margin-left: 40px;
}

.custom.accordion-body ul li a i {
    font-size: 10px;
    margin-right: 5px;
}

.custom.accordion-body ul li:hover {
    color: var(--wc);
    background: var(--rc);
}

.custom.accordion-body ul li:hover a {
    color: var(--sc);
}

.custom.accordion-item a {
    text-decoration: none;

}


.accordion-button.custom i {
    padding: 0 10px;
}

/*ACCORDION CUSTOM END*/

.mobile-menu {
    width: 350px;
    position: fixed;
    left: -380px;
    top: 0;
    z-index: 2;
    background: var(--wc);
    height: 100%;
    overflow: auto;
    transition: .4s;
    padding: 10px 0;
}
#mobileOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(101, 41, 145, 0.71);
    z-index: 1;
    cursor: pointer;
}
.mobileAdd {
    left: 0 !important;
}
.mobile-overlay {
    position: inherit !important;
}
/*MOBILE MENU END*/

/* BANNER PART CSS START  */
.banner{
    background-image: url(../img/photos/Top-banner-choice---01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-overlay {
    background-color: #2e00444f;
    padding: 100px 0px;
}
/* BANNER PART CSS END  */


















/*FOOTER SECTION*/
footer {
    background: #ffffff;
    color: var(--sc);
}

.footer-box img {
    max-width: 164px;
    margin-bottom: 20px;

}

.footer-box p {
    color: var(--sc);
}

.footer-box h6 {
    font-weight: 700;
    border-bottom: 1px solid var(--gc);
    font-size: 20px;
}

.footer-box h6 {
    padding-bottom: 13px;
}

.footer-menu a {
    display: block;
    color: var(--sc);
    padding: 6px 0;
    font-size: 16px;
    font-weight: 500;
}

.footer-box ul li {
    padding: 6px 0;
}

.social-media-footer h4 {
    border-bottom: 1px solid var(--gc);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 40px;
}

.social-media-footer a i {
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: var(--sc);
    background: var(--wc);
    border: 1px solid var(--sc);
    text-align: center;
    border-radius: 50%;
    margin-right: 8px;
    transition: .3s;
}

.social-media-footer a i:hover {
    color: var(--wc);
    background: var(--sc);
}

/*FOOTER SECTION END*/

/*COPYRIGHT SECTION*/
.copyright-section p {
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--sc);
    font-size: 16px;
    font-weight: 500;
    padding: 40px 0;
    border-top: 1px solid var(--gc);
}

/*COPYRIGHT SECTION END*/
